.git
**/.git
**/node_modules
**/dist
**/.astro
**/.output
**/.turbo
**/.vinxi
**/.tanstack
**/.nitro
data
**/.env
**/.env.*
**/.DS_Store
**/*.log
**/*.sqlite
**/*.sqlite-*
coverage
.pnpm-store
.tb_data
